<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JLN</title>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"> -->
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        {% block content %}
        {% endblock content %}
        <!-- <script type="text/javascript">
            let display = false;
            let storedUserId = sessionStorage.getItem('user_id');
            if (!storedUserId) {
                sessionStorage.setItem('user_id', "{{ user }}");
                let storedUserId = sessionStorage.getItem('user_id');
                console.log("user id: " + storedUserId);
            } else { console.log("user id: " + storedUserId); }
        </script> -->
        <!-- <script src="{{ url_for('static', filename='js/script.js')}}"></script> -->
        <script src="../static/js/script.js"></script>
    </body>
</html>