{% extends "base.html" %}
{% block content %}
<div id="main-container">
    <div id="topNav">
        <button id="saveButton" class="topNavButton" onclick="saveDataToDatabase(styleArray)">保存</button>
        <button id="lukasButton" class="topNavButton"><a href="{{url_for('norlund_johan_lukas')}}">トップページ</a></button>
    </div>
    <main>
        <div id="container">
            
        </div>
    
        <button id="addButton" onclick="displayOptions()">+</button>
        <ul id="options">
            <li><button id="addArticleElement" onclick="createArticleElement()">article</button></li>
            <li><button id="addFlexListElement" onclick="createFlexListElement()">flex list</button></li>
            <li><button id="addTextElement" onclick="createTextArticleElement()">text</button></li>
        </ul>
    </main>
</div>
<script type="text/javascript">
    let storedStyle;
    let blogId = "{{blog}}";
    sessionStorage.setItem("blogId", blogId);
    console.log("blog id: " + blogId);

    storedStyle = JSON.parse('{{save|safe}}');
    console.log("Loaded " + blogId + "from backend");
</script>
<script src="../static/js/script.js"></script>
{% endblock content %}