{% extends "base.html" %}
{% block content %}
<div class="loginContainer">
    <form class="loginForm" action="{{ url_for('create_blog') }}" method="post">
        <input type="text" name="name" placeholder="New blog name">
        <input type="hidden" name="user" value="{{user}}">
        <input type="submit" value="Create blog">
    </form>
    {% if blogs %}
    <h2>Blogs</h2>
    <form id="blogForm" action="{{ url_for('set_blogid') }}" method="post">
            <input type="hidden" name="blogid" id="hiddenBlogId" value="">
            {% for blog in blogs %}
            <!-- Label with onclick to trigger form submission -->
            <label for="blog_{{ loop.index }}" onclick="submitForm('{{ blog[1] }}')">{{ blog[2] }}</label><br>
            {% endfor %}
    </form>
    {% endif %}
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let userId = "{{user}}";
        sessionStorage.setItem('userId', userId);
        storedUserId = sessionStorage.getItem('userId');
        if(storedUserId){
            console.log("User id:" + storedUserId);
        } else {
            console.log("No user id set!");
        }

        window.submitForm = function(blogId) {
            // Set the hidden input value to the clicked blog ID
            document.getElementById("hiddenBlogId").value = blogId;
            // Submit the form
            document.getElementById("blogForm").submit();
        }
    });
    window.addEventListener("load", function(){
        sessionStorage.removeItem('styleArray');
        history.replaceState(null, "", location.href);
    });
</script>
{% endblock content %}