{% extends "base.html" %}
{% block content %}
<div class="loginContainer">
    <form class="loginForm" action="{{ url_for('create_blog') }}" method="post">
        <input type="text" name="name" placeholder="New blog name">
        <input type="hidden" name="user" value="{{ user }}">
        <input type="submit" value="Create blog">
    </form>
</div>
<script>
    let userId = "{{ user }}";
    sessionStorage.setItem('userId', userId);
    storedUserId = sessionStorage.getItem('userId');
    if(storedUserId){
        console.log("User id:" + storedUserId);
    } else {
        console.log("No user id set!");
    }
</script>
{% endblock content %}