{% extends "base.html" %}
{% block content %}
<div class="loginContainer">
    <h2>Create Account</h2>
    <form class="loginForm" action="{{ url_for('create_user') }}" method="post">
        <input type="text" name="username">
        <input type="password" name="password">
        <input class="submitButton" type="submit" value="Create user">
    </form>
    <a href="{{ url_for('login_page') }}">Login page</a>
</div>
<script type="text/javascript">
    window.onload = function(){
        alert(`
        このアプリはデモンストレーション目的で作成されており、
        公開または商用利用を意図したものではありません。
        アップロードされたコンテンツは安全に保存されない場合がありますので、
        個人情報や機密情報のアップロードはお控えください。
        `);
    }
</script>
{% endblock content %}
